*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-container{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    width: 550px;
    background-color: #fff;
    border-radius: 20px;
    padding: 80px;
    text-align: center;
}
.card-header .profile-img{
    width: 250px;
    border-radius: 125px;
}

.card-content{
    padding: 50px 0;
}
.card-content .name{
    font-size: 36px;
    color: #666F9A;
}
.card-content .occupation{
    font-size: 20px;
    color: #252925;
    padding: 10px 0 30px 0;
}
.card-content .short-description{
    font-size: 20px;
}
.card-footer ul li{
    list-style: none;
    text-decoration: none;
    display: inline;
}
.card-footer ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    border: #666F9A solid 3px;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 5px;
}
.card-footer ul li a:hover{
    background-color: #666F9A;
    color: #fff;
}